@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --baseCol1 :#ffffff;
  --baseCol2: #060f2c;
  --baseCol3: #1b2853;
  --baseFont1: 'Inter';
  --activeCol: #e4eaff;
}

body{
  background-color: var(--baseCol1);
  position: relative;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  background-color: var(--baseCol1);
  color: var(--baseCol2);
  padding: 1.5rem 2rem;
  font-family: var(--baseFont1);
  font-weight: 700;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

nav .left{
  font-size: 1.2rem;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  li{
    padding: 0 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    a{
      text-decoration: none;
      color: var(--baseCol2);
      padding: 0.7rem 1rem;
      border-radius: 0.5rem;
    }
    a:hover{
      /* color: var(--baseCol3); */
      background: #dcd8d85a;
      transition: 0.2s ease-in-out;
    }
    a:active{
      color: var(--baseCol3);
    }
    button{
      cursor: pointer;
      background-color: transparent;
      border: none;
      .user-profile{
        color: var(--baseCol2);
      }
    }
  }
}

@media(max-width: 1024px){
  nav{
    width: auto;
  }
  nav .left{
    padding-left: 1.5rem;
  }
  ul{
    li{
      padding-left: 1.5rem;
      font-size: 1.1rem;
    }
  }
}

@media(max-width: 768px){
  nav{
    width: auto;
  }
  nav .left{
    font-size: 0.95rem;
  }
  ul{
    li{
      padding: 0;
      padding-left: 1rem;
      font-size: 0.65rem;
    }
  }
}

.landing-container{
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem;

  .landingImage{
    img{
      width: 60rem;
    }
  }

  .landingForm{
    height: max-content;
    width: 25rem;
    margin-bottom: 2rem;
    background-color: var(--baseCol2);
    color: var(--baseCol1);
    font-family: var(--baseFont1);
    padding: 2rem 2rem;
    border-radius: 1.3rem;

    .heading{
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
    }

    form{
      position: relative;
      width: auto;
      input{
        padding: 1rem 1.5rem;
        width: 20rem;
        font-family: var(--baseFont1);
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--baseCol2);
        border: 2px solid var(--baseCol1);
        border-radius: 0.8rem;
        margin: 0.5rem 0;
      }
      input::placeholder{
        color: var(--baseCol2);
        opacity: 0.7;
      }
      input:focus-visible{
        outline: 1px solid var(--baseCol1);
      }
      input[type='submit']{
        width: max-content;
        background-color: var(--baseCol1);
        color: var(--baseCol2);
        font-weight: 600;
        cursor: pointer;

        &:hover{
          background-color: var(--baseCol2);
          color: var(--baseCol1);
        }
        &:active{
          color: var(--activeCol);
        }
      }
      .passwordGrp{
        width: 100%;
        .inputGrp{
          position: relative;
            .eyeIcon{
              height: 1.3rem;
              color: var(--baseCol2) !important;
              position: absolute;
              right: 8%;
              top: 35%;
              cursor: pointer;
          }
        }

      }

      .red{
        font-size: 0.85rem;
        color: rgb(255, 80, 80);
      }
      
      #forgetPass{
        padding: 0rem 1rem;
        padding-bottom: 1rem;
        text-align: right;
        text-decoration: underline;
        color: var(--activeCol);
        cursor: pointer;
        font-size: 0.9rem;
      }

    }

    h3{
      font-size: 1rem;
      font-weight: 400;
      color: var(--activeCol);
      span{
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}

@media (max-width:1024px){
  .landing-container{
    width: auto;
    flex-direction: column;

    .landingImage{
      img{
        width: 45rem;
      }
    }
    .landingForm{
      height: auto;
      width: 40rem;
      form{
        input{
          width: 85%;
        }

        .eyeIcon{
          height: 1rem;
        }

        #forgetPass{
          padding-right: 1.7rem;
        }
      }
    }
  }
}

@media (max-width:768px){
  .landing-container{
    height: 80vh;
    width: auto;

    .landingImage{
      display:none;
    }
    .landingForm{
      height: auto;
      width: 80%;

      .heading{
        font-size: 1.2rem;
      }
      form{
        input{
          width: 85%;
          padding: 0.8rem 1.1rem;
          font-size: 0.7rem;
        }
        .passwordGrp{
          .inputGrp{
            .eyeIcon{
              height: 1rem;
              right: 6%;
              bottom: 30%;
            }
          }
        }
        
        #forgetPass{
          font-size: 0.6rem;
          font-weight: 500;
        }
      }
      h3{
        font-size: 0.8rem;
      }
    }
  }
}

footer{
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--baseFont1);
  font-weight: 300;
  position: fixed;
  bottom: 0;
  width: 100%;
  h5{
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 0.8rem;
  }
}

@media (max-width:768px){
  footer{
    width: 100%;
    h5{
      font-size: 0.6rem;
    }
  }
}

.userSection{
  background-color: var(--baseCol2);
  margin: 0 2rem;
  margin-top: 0.9rem;
  padding: 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  h3{
    font-family: var(--baseFont1);
    color: var(--baseCol1);
    font-size: 0.8rem;
    cursor: pointer;
    a{
      text-decoration: none;
      font-family: var(--baseFont1);
      color: var(--baseCol1);
      font-size: 0.8rem;
    }
    span{
      text-decoration: underline;
    }
  }
  .userUtilIcons{
    height: 1.4rem;
    padding: 0 0.5rem;
    color: var(--activeCol);
  }
}

@media (max-width:1024px){
  .userSection{
    margin-left: 20%;
    margin-top: 2rem;
    padding: 0.7rem;
    width: max-content;
    h3{
      font-size: 0.7rem;
      cursor: pointer;
      a{
        font-size: 0.7rem;
      }
    }
    .userUtilIcons{
      height: 1.3rem;
    }
  }
}

@media (max-width: 768px){
  .userSection{
    margin: 0 3rem;
    margin-top: 2rem;
    padding: 0.7rem;
    width: max-content;
    h3{
      font-family: var(--baseFont1);
      color: var(--baseCol1);
      font-size: 0.6rem;
      cursor: pointer;
      a{
        text-decoration: none;
        font-family: var(--baseFont1);
        color: var(--baseCol1);
        font-size: 0.6rem;
      }
      span{
        font-size: 0.6rem;
      }
    }
    .userUtilIcons{
      height: 1.2rem;
    }
  }
}

.reservationContainer{
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  height: max-content;
  margin-bottom: 2rem;
  gap: 2rem;
  font-family: var(--baseFont1);

  .tripDetails{
    background-color: var(--baseCol2);
    color: var(--baseCol1);
    height: 100%;
    border-radius: 0.8rem;
    padding: 1.5rem 1.5rem;
    .heading{
      text-align: center;
      padding: 0.7rem;
      font-size: 0.95rem;
    }
    form{
      label{
        font-size: 0.85rem;
        font-weight: 700;
      }
      input{
        padding: 0.5rem 1.2rem;
        width: 20rem;
        font-family: var(--baseFont1);
        font-size: 0.85rem;
        font-weight: 500;
        color: var(--baseCol2);
        border: 2px solid var(--baseCol1);
        border-radius: 0.8rem;
        margin: 0.5rem 0;
      }
      input::placeholder{
        color: var(--baseCol2);
        opacity: 0.7;
      }
      input:focus-visible{
        outline: 1px solid var(--baseCol2);
      }
      input[type='submit']{
        width: max-content;
        background-color: var(--baseCol1);
        color: var(--baseCol2);
        padding: 0.7rem 1.2rem;
        font-weight: 600;
        cursor: pointer;

        &:hover{
          background-color: var(--baseCol2);
          color: var(--baseCol1);
        }
        &:active{
          color: var(--activeCol);
        }
      }
      select{
        padding: 0.5rem 1.2rem;
        width: 100%;
        font-family: var(--baseFont1);
        font-size: 0.85rem;
        font-weight: 500;
        color: var(--baseCol2);
        border: 2px solid var(--baseCol1);
        border-radius: 0.8rem;
        margin: 0.5rem 0;
      }

    }

    .persons, .fare{
      h3{
      font-size: 0.95rem;
      font-weight: 600;
      margin-top: 1rem;
      }
    }

    .payFare{
      button{
        width: max-content;
        margin-top: 1rem;
        padding: 0.7rem 1.2rem;
        background-color: var(--baseCol1);
        color: var(--baseCol2);
        border: 2px solid var(--baseCol1);
        border-radius: 0.8rem;
        font-size: 0.85rem;
        font-family: var(--baseFont1);
        font-weight: 600;
        cursor: pointer;

        &:hover{
          background-color: var(--baseCol2);
          color: var(--baseCol1);
        }
        &:active{
          color: var(--activeCol);
        }
      }
    }
  }

  .seat-layout{
    width: 90%;
    border-radius: 0.8rem;
    background-color: var(--baseCol2);
    color: var(--baseCol1);

    .heading{
      text-align: center;
      margin-top: 1.1rem;
      margin-bottom: 1.1rem;
      padding: 1rem 0;
      font-size: 0.95rem;
    }

    .seats{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 5rem;

      .left-seats, .right-seats{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .seat-layout.disabled{
    cursor: not-allowed;
    opacity: 0.8;
  }
  
}

@media (max-width:1024px){
  .reservationContainer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    .tripDetails{
      height: max-content;
      width: 60%;
      padding-bottom: 1.5rem;
      form{
        label{
          font-size: 0.9rem;
          font-weight: 500;
        }
        input{
          width: 80%;
          font-size: 0.9rem;
        }
        input[type='date']{
          width: 93%;
        }
        input[type='submit']{
          margin-top: 1rem;
          padding: 0.7rem 1.2rem;
          font-size: 0.9rem;
        }
        select{
          padding: 0.5rem 1.2rem;
          width: 100%;
          font-family: var(--baseFont1);
          font-size: 0.9rem;
          font-weight: 500;
          color: var(--baseCol2);
          border: 2px solid var(--baseCol1);
          border-radius: 0.8rem;
          margin: 0.5rem 0;
        }
      }
      .persons, .fare{
        h3{
          font-size: 0.95rem;
          font-weight: 500;
          margin-top: 1rem;
        }
      }
      .payFare{
        button{
          padding: 0.7rem 1.2rem;
          font-size: 0.9rem;
        }
      }
    }
    .seat-layout{
      width: 80%;
      height: max-content;
      padding: 0 2rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;

      .heading{
        font-size: 1.1rem;
        margin-bottom: 1.1rem;
      }

      .seats{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 3rem;
        gap: 3rem;

        .left-seats, .right-seats{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media (max-width: 768px){
  .reservationContainer{
    flex-direction: column;
    height: max-content;
  
    .tripDetails{
      height: max-content;
      width: 80%;
      padding-bottom: 1.5rem;
      .heading{
        font-size: 0.8rem;
      }
      form{
        label{
          font-size: 0.7rem;
        }
        input{
          width: 90%;
          font-size: 0.7rem;
        }
        input[type='date']{
          width: 87%;
        }
        input[type='submit']{
          padding: 0.5rem 0.8rem;
          font-size: 0.7rem;
        }
        select{
          padding: 0.5rem 1.2rem;
          width: 100%;
          font-family: var(--baseFont1);
          font-size: 0.8rem;
          font-weight: 500;
          color: var(--baseCol2);
          border: 2px solid var(--baseCol1);
          border-radius: 0.8rem;
          margin: 0.5rem 0;
        }
      }
      .persons, .fare{
        h3{
          font-size: 0.8rem;
          margin-top: 0.5rem;
          font-weight: 500;
        }
      }
      .payFare{
        button{
          padding: 0.5rem 0.8rem;
          font-size: 0.7rem;
        }
      }
    }
    .seat-layout{
      width: auto;
      height: max-content;
      padding: 0 1rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      .heading{
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
      }
      .seats{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem;
      }
    }
  }
}

.seat{
  height: 35px;
  width: 35px;
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  margin: 0.2rem 1rem;
  cursor: pointer;
  h4{
    text-align: center;
    transform: translateY(55%);
    color: var(--baseCol3);
    font-size: 0.85rem;
  }
  &:hover{
    box-shadow:
      0 0 5px 2px rgba(12, 183, 12, 0.81);
  }
}

@media (max-width:768px){
  .seat{
    height: 20px;
    width: 20px;
    margin: 0.2rem 0.6rem;
    h4{
      font-size: 0.5rem;
    }
  }
}

.seat.disabled{
    cursor: not-allowed;
    &:hover{
      box-shadow: none;
    }
}

.seat.checked{
  background-color: green;
  h4{
    color: white;
  }
}

.seat.booked{
  background-color: rgb(108, 108, 108);
  border: none;
  cursor: not-allowed;
  &:hover{
    box-shadow: none;
  }
  h4{
    color: white;
  }
}

.users{
  h3{
    margin-top: 2rem;
    font-family: var(--baseFont1);
    color: var(--baseCol2);
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    span{
      font-weight: 700;
    }
  }
  table{
    background-color: var(--baseCol2);
    color: var(--baseCol1);
    font-family: var(--baseFont1);
    border-radius: 0.8rem;
    border-collapse: collapse;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4), -7px -7px 15px rgba(0, 0, 0, 0.4);
    margin-top: 2rem;

    thead{
      background-color: var(--baseCol1);
      color: var(--baseCol2);
      th{
        padding: 0.9rem;
        text-align: center;
        font-weight: 700;
        font-size: 0.95rem;
      }
    }

    td{
      padding: 0.7rem;
      text-align: center;
      font-weight: 400;
      font-size: 0.9rem;

      button{
        font-family: var(--baseFont1);
        font-size: 0.75rem;
        font-weight: 700;
        background-color: var(--baseCol1);
        color: var(--baseCol2);
        padding: 0.7rem;
        border: 2px solid var(--baseCol1);
        border-radius: 0.9rem;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

        &:hover{
          transform: scale(1.03);
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}

@media (max-width:1024px){
  .users{
    h3{
      font-size: 1rem;
      font-weight: 600;
      padding: 0 1rem;
    }
    table{
      width: 90%;
      thead{
        th{
          padding: 0.6rem;
          font-size: 0.65rem;
          font-weight: 800;
        }
      }
      tbody{
        td{
          padding: 0.6rem;
          font-size: 0.65rem;
          button{
            font-size: 0.5rem;
            padding: 0.4rem;
          }
        }
      }
    }
  }
}

@media (max-width:768px){
  .users{
    .hide-mobile{
      display: none;
    }
    h3{
      font-size: 0.8rem;
      padding: 0 2rem;
    }
    table{
      width: 90%;
      
      thead{
        th{
          padding: 0.7rem;
          font-size: 0.6rem;
          font-weight: 800;
        }
      }
      tbody{
        td{
          padding: 0.4rem;
          font-size: 0.6rem;
          button{
            font-size: 0.4rem;
            padding: 0.4rem;
          }
        }
      }
    }
  }
}

.aboutUs{
  background-color: var(--baseCol2);
  color: var(--baseCol1);
  margin: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  font-family: var(--baseFont1);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
  a{
    color: var(--activeCol);
  }
}

@media (max-width:1024px){
  .aboutUs{
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.4rem;
  }
}

@media (max-width:768px){
  .aboutUs{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.2rem;
  }
}

.contactUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contents{
    background-color: var(--baseCol2);
    color: var(--baseCol1);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
    font-family: var(--baseFont1);
    font-size: 0.8rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    .mail, .linkedin, .github{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.2rem;
      font-weight: 400;
      .contactImage{
        color: var(--baseCol1);
      }
    }
  }
}

@media (max-width:768px){
  .contactUs{
    width: auto;
    height: max-content;
    padding: 1rem;

    .contents{
      font-size: 0.6rem;
      gap: 1rem;
      .mail, .linkedin, .github{
        a{
          .contactImage{
            height: 1.2rem;
          }
        }
      }
    }
  }
}